@model PagedList.IPagedList<BeautyHub.Entities.Service>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Services";
}
<link href="~/Content/user-page.css" rel="stylesheet" />

<div class="container">
    <h2 class="text-center">SERVICES</h2>
    <div class="row-col">
        <div class="card-group mx-auto">
            @foreach (var service in Model)
            {
                <div class="col-12 col-md-4 col-lg-4 col-12 p-2 pb-4 p-md-1 p-lg-3">
                    <div class="card">
                        @if (service.Image != null)
                        {
                            var base64 = Convert.ToBase64String(service.Image);
                            var imageSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <img src='@imageSrc' alt="" />}
                        <div class="card-body text-left">
                            <h5 class="card-title service-name">@service.Name</h5>
                            <div class="card-text service-category">@service.Category.Name </div>
                            <div class="card-text service-price">$@service.Price</div>
                            <a href="@Url.Action("Create","Appointments")" class="service-booking-btn btn btn-dark w-100">Book Now</a>
                        </div>
                    </div>
                </div>}

        </div>
    </div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
</div>


