@using BeautyHub.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="main-div">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 mx-auto align-self-center px-xl-5 px-lg-4 px-md-4 px-sm-4 px-4 pt-xl-5 pt-lg-4 py-md-4 py-sm-4 pb-xl-4 pb-lg-3" id="login-form">
            <div class="align-self-center w-100">
                <div class="d-flex flex-row justify-content-between align-items-center mb-2">
                    <a href="/" style="text-decoration: none">
                        <div class="d-flex justify-content-center align-items-center btn mb-2" id="back-to-home-button">
                            <i class="fa fa-angle-left"></i>
                        </div>
                    </a>
                    <h4 class="text-center w-100 heading-text">Login</h4>
                    <div id="unnecessary">

                    </div>
                </div>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal, w-100", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group mx-auto mb-xl-4 mb-lg-3">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label, font-weight-bold " })
                        <div class="inner-addon left-addon">
                            <i class="fa fa-envelope"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control email-textbox" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mx-auto mb-xl-4 mb-lg-3">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label, font-weight-bold" })
                        <div class="inner-addon left-addon">
                            <i class="fa fa-key"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mx-auto mb-xl-4 mb-lg-3">
                        <div class="d-flex justify-content-between">
                            <div class="checkbox small">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "text-muted" })
                            </div>
                            <div class="align-self-end small">
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { style = "text-decoration: none; color: #F87F76;" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group mx-auto mb-xl-4 mb-lg-3">
                        <div class="">
                            <button type="submit" value="Log in" class="btn w-100 p-2" style="background:#F87F76"><span class="text-white">Log In</span></button>
                        </div>
                    </div>
                    <div class="mx-auto mb-xl-4 mb-lg-3">
                        <p class="divider"><span class="mx-2">or</span></p>
                    </div>
                }
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                <div class="text-center small">
                    Don't have an account? @Html.ActionLink("Register", "Register", null, new { style = "text-decoration: none; color: #F87F76;" })
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>