@model BeautyHub.Models.UpdateProfileViewModel
@{
    Layout = "~/Views/Shared/_Dashboardlayout.cshtml";
    ViewBag.Title = "UpdateProfile";
}

<link href="~/Content/login.css" rel="stylesheet" />
<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 mx-auto align-self-center px-xl-5 px-lg-4 px-md-4 px-sm-4 px-4 pt-xl-5 pt-lg-4 py-md-4 py-sm-4 py-4 pb-xl-4 pb-lg-3" id="appointment-form">
    <div class="align-self-center w-100">
        <div class="align-items-center mb-3">
            <h4 class="text-center w-100 heading-text">Profile</h4>
        </div>

        @using (Html.BeginForm("UpdateProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <span style="color:#F87F76;">@ViewBag.Error</span>

            <div class="row">
                <div class="col-xl-6 col-md-6 form-group mx-auto mb-xl-4 mb-lg-3">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })<span id="required">*</span>
                    <div class="inner-addon left-addon">
                        <i class="far fa-user"></i>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 form-group mx-auto mb-xl-4 mb-lg-3">
                    @Html.LabelFor(model => model.LastName, new { @class = "control-label" })<span id="required">*</span>
                    <div class="inner-addon left-addon">
                        <i class="far fa-user"></i>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-md-6 form-group mx-auto mb-xl-4 mb-lg-3">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })<span id="required">*</span>
                    <div class="inner-addon left-addon">
                        <i class="far fa-user"></i>
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 form-group mx-auto mb-xl-4 mb-lg-3">
                    @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label" })<span id="required">*</span>
                    <div class="inner-addon left-addon">
                        <i class="far fa-user"></i>
                        @Html.TextBoxFor(model => model.DateOfBirth, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                        @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                <div class"">
                    <div>
                        @if (Model.Image != null)
                        {
                            var base64 = Convert.ToBase64String(Model.Image);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <img src='@imgSrc' style="max-width: 100px; max-height: 100px" id="img_preview" />
                        }
                        else
                        {
                            <img src="" style="max-width: 100px; max-height: 100px" id="img_preview" />
                        }
                    </div>
                    <input type="file" accept=".jpg, .jpeg, .png, .gif" name="userPhoto" onchange="readURL(this);" style="padding-left:0px"/>
                    @Html.HiddenFor(model => model.Image)
                    <input type="hidden" id="imageSource" name="imageSource" value="@Model.Image" />
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    <button class="btn btn-sm btn-danger" id="deletePhoto" style="visibility:hidden;">Delete Photo</button>
                </div>
            </div>

            <div class="form-group mx-auto mb-xl-4 mb-lg-3">
                <div class="">
                    <button type="submit" value="Save" class="btn w-100 p-2" style="background:#F87F76"><span class="text-white">Save Changes</span></button>
                </div>
            </div>
        }
    </div>
</div>


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
    toggleDeleteButtonVisibility();

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('img').attr('src', e.target.result);
            }

            $("#imageSource").val("uploaded");
            reader.readAsDataURL(input.files[0]);
            toggleDeleteButtonVisibility();
        }
    }

    $("#deletePhoto").click(function (e) {
        e.preventDefault();
        $("img").attr("src", '');
        $("#imageSource").val("");

        toggleDeleteButtonVisibility();
    });

    function toggleDeleteButtonVisibility() {
        var src = $("#img_preview").attr("src");
        console.log(src);
        console.log($('#imageSource').val());
        if ($('#img_preview').attr('src') == "" && $('#imageSource').val() == "") {
            $("#deletePhoto").css("visibility", "hidden");
            console.log("hidden");
        }
        if ($('#img_preview').attr('src') != "" || $('#imageSource').val() != "") {
            $("#deletePhoto").css("visibility", "visible");
            console.log("visible");
        }
    }
</script>